.products-cont{
    position: absolute;
    display: flex;
    top: 1976px;
    width: 1440px;
    flex-direction: column;
}
.cont-head{
    padding: 80px 160px 48px 160px;
    margin: 0px;
    font-size: 2rem;
}
.flex-cont{
    padding: 0px 160px 80px 160px;
    flex-wrap: wrap;
    gap: 32px;
}
.product-card{
    width: 352px;
    flex-direction: column;

}
.product-img{
    width: 352px;
    height: 200px;
}
.card-head{
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: bold;
}
.card-desc{
    margin-top: 2px;
    font-size: 16px;
    font-weight: lighter
}
.footer-cont{
    height: 283px;
    background: #1A181E;
    width: 1440px; 
}
.foot-main{
    /* padding: 65px 160px; */
    justify-content: space-between;
}
.foot-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70px;
    column-gap: 102px ;
    row-gap: 16px;
}

.links{
    width: 73px;
}

.sm-links-cont{
    flex-direction: column;
    gap: 16px;
}
.footer-flex{
    flex-direction: column;
    padding: 65px 160px 24px 160px;
    color: #FFFF;
}
.sec-part{
    height: 1px;
    background: #FFFF;
    margin: 40px 0px 24px 0px;
}
